body{
    background-color: #333;
    font-family: sans-serif;
    color: white;

    user-select: none;
}

.container{
    background-color: rgba(0, 0, 0, 0.34);

    height: 200px;
    width: 400px;

    margin: auto;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.text{
    width: 90%;
    height: 30px;

    padding: 5px;

}

.number{
    width: 30%;
    height: 30px;

    text-align: center;
}

.color{
    height: 30px;
}

.submit{
    width:60%;
    height: 30px;
}


.h1{
    font-size: 100px;
    text-align: center;

    text-shadow: 
    1px 1px black,
    2px 2px black,
    3px 3px black,
    4px 4px black,
    5px 5px black,
    6px 6px black,
    7px 7px black,
    8px 8px black,
    9px 9px black,
    10px 10px black,
    11px 11px black,
    12px 12px black,
    13px 13px black,
    14px 14px black


    ;
    
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}